input[type=text],[type=number],[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width:40%;
    background-color: #848484;
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #B8B8B8;
}

.buttons {
    text-align: center;
    display: block;    
    width: 50%;   
    margin: auto; 
}
.form {
    border-radius: 4px;
    background-color: #F2f2f2;
    padding: 20px;
}
